*,
::before ::afterp {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  font-size: 50px;
  color: darkblue;
}

.basic {
  margin-left: 30px;
}

#highlight {
  color: rgb(55, 34, 123);
  border-left: 5px solid blueviolet;
  padding-left: 5px;
}

.cat {
  background-color: darkslateblue;
  padding: 2px;
  margin: 2px;
  width: 6px;
  border: 1px;
}
